[Unit]
Description=Overseer IPC message broker
After=network-online.target

[Service]
User=dan
Restart=on-failure
Type=simple
WorkingDirectory=/home/dan/Overseer-MDP-Broker
ExecStart=/home/dan/.cache/pypoetry/virtualenvs/overseer_mdp_broker-wlu2NQVG-py3.11/bin/python3.11 /home/dan/Overseer-MDP-Broker/mdbroker.py

[Install]
WantedBy=multi-user.target
